{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

    <!-- Header Banner -->
    <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="{{gallery.background.url}}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 caption mt-90">
                    <h5>{{admin.title}}</h5>
                    <h1>Галерея</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Image Gallery -->
    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle">{{admin.title}}</div>
                    <div class="section-title">Галерея</div>
                </div>
                <!-- 3 columns -->
                {% for gallery in gallery.gallery_page.all %}
                <div class="col-md-4 gallery-item">
                    <a href="{{gallery.image.url}}" title="" class="img-zoom">
                        <div class="gallery-box">
                            <div class="gallery-img"> <img src="{{gallery.image.url}}" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Footer -->
    

{% endblock %}