{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

    <!-- Header Banner -->
    <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="{{banner_all.background.url}}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-left caption mt-90">
                    <h5><a href="{% url 'news_url' %}">Новости</a> / Новость {{banner_all.id}}</h5>
                    <h1>{{banner_all.banner_title}}</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Post -->
    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12"> 
                    <img src="{{banner_all.main_image.url}}" class="mb-30" alt="">
                    <h2>{{banner_all.banner_title}}</h2>
                    <p>{{banner_all.banner_text}}</p>
                    <blockquote>
                        <p>{{banner_all.quote|truncatewords:50}}</p>
                    </blockquote>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{banner_all.image_1.url}}" class="mb-30" alt="">
                        </div>
                        <div class="col-md-6">
                            <img src="{{banner_all.image_2.url}}" class="mb-30" alt="">
                        </div>
                    </div>
                    <p>{{banner_all.mini_description}}</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    

{% endblock %}